/* General Section Styling */
.about-section {
  background: linear-gradient(135deg, #1f1c2c 0%, #928dab 100%);
  padding: 70px 0; /* Reset padding for grid consistency */
  position: relative;
  box-sizing: border-box;
}

.section-row {
  margin-top: 50px;
}

/* Image Hover Effect */
.about-img img {
  transition: transform 0.4s ease-in-out;
  border-radius: 10px;
}

.about-img img:hover {
  transform: scale(1.05);
}

/* Heading and Highlight Text */
.project-heading {
  font-size: 2.5em;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  font-weight: bold;
}

.highlight-text {
  color: #27bdd4;
}

h1, h2, h3, p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-size: 2.1em;
  font-weight: 600;
}

.about-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: justify;
  width: 100%;
}

/* Media Queries for Tablet Devices */
@media only screen and (max-width: 1024px) {
  .project-heading {
    font-size: 2em;
  }

  h1 {
    font-size: 1.8em;
  }
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 768px) {
  .project-heading {
    font-size: 1.8em;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 1.6em;
  }
}

/* Media Queries for Small Mobile Devices */
@media only screen and (max-width: 480px) {
  .project-heading {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.4em;
  }
}
